<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="css/dialog.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="report">
      <table class="table">
      	<tr>
      		<td>
      			<form class="form-inline">
      				批次: <select class="input-small width-select" data-ng-model="batch.value" data-ng-change="batch.change(batch.value)">
					  <option data-ng-repeat="b in batch.list" data-ng-value="b.id" data-ng-bind="b.name"
					  data-ng-selected="b.id == batch.value"></option>
					</select>
      			</form>
      		</td>
      		<td>
      			<form class="form-inline">
	      			年级: <select class="input-small width-select" data-ng-model="grade.value" data-ng-change="grade.change(grade.value)">
					  <option data-ng-repeat="g in grade.list" data-ng-value="g.id" data-ng-bind="g.name"
					  data-ng-selected="g.id == grade.value"></option>
					</select>
      			</form>
      		</td>
      	</tr>
      	<tr>
      		<td>
      			<form class="form-inline">
      				选择考试:
      				<label class="checkbox">
		      			<input type="checkbox"> 全选
      				</label>
      			</form>
      			<div class="list">
      				<table>
      					
      				</table>
      			</div>
      		</td>
      		<td>
      			<form class="form-inline">
      				选择班级: 
      				<label class="checkbox">
		      			<input type="checkbox"> 全选
      				</label>
      			</form>
      			<div class="list">
      			
      			</div>
      		</td>
      	</tr>
      	<tr>
      		<td>
      			<form class="form-inline">
      				统计项目: 
      				<label class="checkbox">
		      			<input type="checkbox"> 全选
      				</label>
      			</form>
      			<div class="list">
      			
      			</div>
      		</td>
      		<td>
      			<form class="form-inline">
	      			达标线: <select class="small" data-ng-model="grade.value" data-ng-change="grade.change(grade.value)">
					  <option data-ng-repeat="g in grade.list" data-ng-value="g.id" data-ng-bind="g.name"
					  data-ng-selected="g.id == grade.value"></option>
					</select>
					<select class="small" data-ng-model="grade.value" data-ng-change="grade.change(grade.value)">
					  <option data-ng-repeat="g in grade.list" data-ng-value="g.id" data-ng-bind="g.name"
					  data-ng-selected="g.id == grade.value"></option>
					</select>
					<select class="small" data-ng-model="grade.value" data-ng-change="grade.change(grade.value)">
					  <option data-ng-repeat="g in grade.list" data-ng-value="g.id" data-ng-bind="g.name"
					  data-ng-selected="g.id == grade.value"></option>
					</select>
					<input type="text" class="small" />
					<button class="btn btn-info">添加</button>
      			</form>
      			<div class="list">
      			
      			</div>
      		</td>
      	</tr>
      	<tr>
      		<td colspan="2">
				<button class="btn btn-info">开始统计</button>
      		</td>
      	</tr>
      </table>
  </div>
</body>
</html>