body{
	background: #FFF url(../img/bg.jpg) no-repeat 0 0 fixed;
}
.bg1 {
	/* background: #FFF url(../img/bg.jpg) no-repeat 0 0 fixed; */
}

.ng-hide {
	display: none;
}
.main {
	padding: 0;
	min-width: 1024px;
}
form .select{
	width: 104px;
}
.width-input {
	width: 150px;
}
.width-select {
	width: 164px;
}
.middleForm {
	margin: -10px 0 10px 0;
}
form.last {
	margin-bottom: 0;
}
.row-fluid .span5, .row-fluid .span3, .row-fluid .span1{
	margin-top: 5px;
	margin-bottom: 5px;
}
.row-fluid .span5 .float-right{
	float: right;
}
.row-fluid .span5 .float-left{
	float: left;
}
form.form-inline{
	min-height: 30px;
}
ul.sidebar{
	margin-left: 3px;
}
ul.sidebar2{
	margin-left: 23px;
}
.icon {
	float: left;
	width: 15px;
	height: 15px;
	position: relative;
	background: #FFF url("../img/glyphicons-halflings.png") no-repeat;
}
.for-icon {
	float: left;
	width: 15px;
	height: 15px;
	position: relative;
}
.more{
	background-position:89.7% 66%;
	margin-top: 2px;
}
.less{
	background-position:95.2% 66%;
	margin-top: 2px;
}

.content{
	width: 100%;
}
.btn{
	width: 90px;
}
ul {
	margin-bottom: 0px;
}
ul li{
	padding: 1px 0;
}
ul li.last{
	padding-bottom: 0;
}
ul li.success{
	background-color: rgb(233,240,216);
}
ul li.info{
	background-color: rgb(217,237,247);
}
#classes ul li {
	padding-left: 18px;
}
#questions ul li {
	position: relative;
	cursor: pointer;
}
#questions ul li .edit {
	background-color: rgb(0, 0, 0);
	opacity: 0.25;
	filter:alpha(opacity=25);
	width: 100%;
	height: 23px;
	position: absolute;
}
.icon-pencil {
	position: absolute;
	left: 91%;
}

